body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* AXES */
/* ticks */
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}

.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 80%;
}

/* TOOLTIP */
.tooltip {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 150%;
}

/* POINTS */
.point {
  stroke: none;
  fill: #9c9c9c;
}

body{
  background-color: whitesmoke;
}

:root {
  --line-chart-color: #607D8B;
  --annotation-context-color: #00796B;
  --annotation-above-color: #00BFA5;
  --annotation-anomaly-color: #E8336D;
}

svg {
  background-color: white;
  font-family: 'Lato';
}

.axis, .axis text {
  fill: var(--line-chart-color);
}

/*.axis line, path {*/
/*  stroke: var(--line-chart-color);*/
/*}*/

path {
  fill: none;
}

.annotation path {
  stroke: var(--annotation-context-color);
}

.annotation:not(.above):not(.anomaly) path {
  stroke-dasharray: 1,3;
}

.annotation text {
  fill: var(--annotation-context-color);
}

.annotation.above path {
  stroke: var(--annotation-above-color);
}

.annotation.above text {
  fill: var(--annotation-above-color);
}

.annotation.anomaly path {
  stroke: var(--annotation-anomaly-color);
  stroke-width: 2px;
}

.annotation.anomaly text {
  fill: var(--annotation-anomaly-color);
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);
}

.annotation-note-title {
  font-weight: bold;
}

text.title {
  font-size: 1.2em;
  font-weight: bold;
}